APPLICATION_PORT=3000
DATABASE_NAME=employees
DATABASE_USERNAME=pguser
DATABASE_PASSWORD=Password@123
DATABASE_HOST=localhost
APPLICATION_SECRET=Secret
NODE_ENV=development
TEST_DB_NAME=employees_test
DEFAULT_APP_USER_EMAIL=admin@employee-service.com
DEFAULT_APP_USERNAME=admin
DEFAULT_APP_USER_PASSWORD=Password@123